#!/bin/sh
set -e

# Source debconf library.
. /usr/share/debconf/confmodule
db_version 2.0

# This conf script is capable of backing up
db_capb backup

STATE='start'

CURRENTUSER=""
NEWUSER=""

while true; do
    case "$STATE" in
    start)
	# see what name is set = may get back the default
	# will get default name first time through
        db_get nftfw/askuser
	CURRENTUSER=$RET
        # ask for user name
	if ! db_input high nftfw/askuser ; then
	    # exit if skipping the question
	    break
	fi
	NEXTSTATE=validate
	;;

    validate)
        db_get nftfw/askuser
	NEWUSER=$RET
	if getent passwd "$NEWUSER" > /dev/null; then
	    NEXTSTATE=confirm
	else
	    NEXTSTATE=mustexist
	fi
	;;

    mustexist)
	db_subst nftfw/mustexist username "$NEWUSER"
	db_subst nftfw/mustexist currentuser "$CURRENTUSER"
	db_input high nftfw/mustexist

	db_set nftfw/askuser $CURRENTUSER
	NEXTSTATE=start
	;;

    confirm)
	db_subst nftfw/confirm username "$NEWUSER"
	db_subst nftfw/confirm currentuser "$CURRENTUSER"
	db_input high nftfw/confirm
	NEXTSTATE=confirmok
	;;

    confirmok)
	db_get nftfw/confirm
	case "$RET" in
	    'true')
		NEXTSTATE=alldone
		;;
	    'false')
		db_set nftfw/askuser "$CURRENTUSER"
		NEXTSTATE=start
		;;
	esac
	;;

    alldone)
	break
	;;
    esac

    if db_go ; then
	STATE=$NEXTSTATE
    else
	break
    fi
done
db_stop
